
.layout {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.tabs {
    width: 100px;
    background-color: #f0f0f0f0;
    padding: 5px;
    overflow-y: auto;
}

.tablinks {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: transparent;
}

.select-container {
    flex-grow: 1;
    padding: 5px;
    overflow-y: auto;
    height: 100vh;
    border: 0px solid #ccc;
}

.tabcontent {
    flex:1
    display: none;
    padding: 10px;
    border: 0px solid #ccc;
    margin-bottom: 10px;
    height: 100vh;
    width: 100%;
}

.tabcontent #signal-container {
    position: relative;
    width:80%
    border: 0px solid #ccc;
    z-index: 0;
}


.signal_path_hidden{
    display: none;
}


.return_path_hidden{
    display: none;
}
