<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>choose symbol type</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h4>统计</h4>
<table>
    <tr>
        <td>symbol</td>
      <td>total returns</td>
      <td>sharp ratio</td>
      <td>max drawdown</td>
    </tr>
    <tr>
        <td>max</td>
        <td>{{max_symbol_dict.total_returns}}</td>
        <td>{{max_symbol_dict.sharp_ratio}}</td>
        <td>{{max_symbol_dict.max_drawdown}}</td>
    </tr>
    <tr>
        <td>min</td>
        <td>{{min_symbol_dict.total_returns}}</td>
        <td>{{min_symbol_dict.sharp_ratio}}</td>
        <td>{{min_symbol_dict.max_drawdown}}</td>
    </tr>
</table>
<h4>选择币种</h4>
<ul>
    {% for item in financial_indicators %}
        <li>
            <ul>
                <li>
                    <a href="{% url 'symbol_type' %}?strategy_name={{strategy_name}}&symbol={{item.symbol}}" target="_blank">
                        symbol:{{item.symbol}}
                    </a>
                </li>
                <ul>
                    <li>total returns:{{item.total_returns}}</li>
                    <li>sharp ratio:{{item.sharp_ratio}}</li>
                    <li>max drawdown:{{item.max_drawdown}}</li>
                </ul>
            </ul>

        </li>
    {% endfor %}
</ul>

</body>
</html>